---
const { skins } = Astro.props;
---

<section>
  <h2>Список скинов</h2>
  <ul>
    {skins.map((skin) => (
      <li key={skin.id} style="margin-bottom:1.5rem;">
        <h3>{skin.name}</h3>
        <p><strong>ID:</strong> {skin.id}</p>
        <p><strong>Гены:</strong> {skin.genes?.join(', ')}</p>
        <p><strong>Звездность:</strong> {skin.star}</p>
        <p><strong>Тип скина:</strong> {skin.skin}</p>
        {skin.image && skin.image.length > 0 ? (
  <div>
    <h4>Текстуры:</h4>
    {Array.isArray(skin.image) ? (
      skin.image.map((img, index) => (
        <img key={index} src={img} alt={`${skin.name} - texture ${index + 1}`} width="100" />
      ))
    ) : (
      <img src={skin.image} alt={`${skin.name} - texture`} width="100" />
    )}
  </div>
) : null}

        <h4>Статистика на уровне 1</h4>
        <ul>
          <li><strong>HP:</strong> {skin.base_stats.lvl1.hp}</li>
          <li><strong>Атака 1:</strong> {skin.base_stats.lvl1.atk1}</li>
          <li><strong>Атака 2:</strong> {skin.base_stats.lvl1.atk2}</li>
        </ul>
        {skin.base_stats?.lvl30 ? (
          <>
            <h4>Статистика на уровне 30</h4>
            <ul>
              <li><strong>HP:</strong> {skin.base_stats.lvl30.hp}</li>
              <li><strong>Атака 1:</strong> {skin.base_stats.lvl30.atk1}</li>
              <li><strong>Атака 2:</strong> {skin.base_stats.lvl30.atk2}</li>
            </ul>
          </>
        ) : null}
      </li>
    ))}
  </ul>
</section>

